

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<TestimonialViewModel>;


<div>
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Referans Görsel</th>
            <th> Referans Adı</th>
            <th> Referans Ünvanı</th>     
            <th>Personel Sil</th>
            <th>Personel Güncelle</th>
            <th>Personel Detaylar</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Image</td>
                <td>@item.TestimonialID</td>
                <td>@item.Name</td>
                <td>@item.Title</td>
               
                <td><a href="/Staff/DeleteStaff/@item.TestimonialID" class="btn mb-1 btn-rounded btn-danger">Sil</a></td>
                <td><a href="/Staff/UpdateStaff/@item.TestimonialID" class="btn mb-1 btn-rounded btn-success">Güncelle</a></td>
                <td><a href="#" class="btn mb-1 btn-rounded btn-dark">Detaylar</a></td>
            </tr>
        }
    </table>
    <a href="/Staff/AddStaff" class="btn mb-1 btn-rounded btn-info">Yeni Personel Girişi</a>
</div>

