<!-- Font Awesome CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-RANDOMCODE==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            
            <li>
                <a href="/Dashbord/Index" aria-expanded="false">
                    <i class="icon-home menu-icon"></i><span class="nav-text">Dashbord</span>
                </a>
            </li>
            <li>
                <a href="/Default/Index/" aria-expanded="false">
                    <i class="icon-plane menu-icon"></i><span class="nav-text">Siteye Git</span>
                </a>
            </li>
            <li>
    
                <a href="/Staff/Index/" aria-expanded="false">
                    <i class="icon-nootbook menu-icon"></i><span class="nav-text">Personeller</span>
                </a>
            </li>
            <li>
                <a href="/Testimonial/Index/" aria-expanded="false">
                    <i class="icon-lock menu-icon"></i><span class="nav-text">Referanslar</span>
                </a>
            </li>
            <li>
                <a href="/Service/Index/" aria-expanded="false">
                    <i class="icon-clock menu-icon"></i><span class="nav-text">Hizmetler</span>
                </a>
            </li>
            <li>
                <a href="/AdminRoom/Index/" aria-expanded="false">
                    <i class="icon-cloud menu-icon"></i><span class="nav-text">Odalar</span>
                </a>
            </li>

            <li>
                <a href="/Guest/Index/" aria-expanded="false">
                    <i class="icon-home menu-icon"></i><span class="nav-text">Misafir</span>
                </a>
            </li>
            <li>
                <a href="/AdminContact/InBox/" aria-expanded="false">
                    <i class="icon-envelope menu-icon"></i><span class="nav-text">Mesajlar</span>
                </a>
            </li>
            <li>
                <a href="/AdminImageFile/Index/" aria-expanded="false">
                    <i class="icon-energy menu-icon"></i><span class="nav-text">Resim İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/AdminUser/Index/" aria-expanded="false">
                    <i class="icon-user-follow menu-icon"></i><span class="nav-text">Kullanıcılar</span>
                </a>
            </li>
            <li>
                <a href="/WorkLocation/Index/" aria-expanded="false">
                    <i class="icon-puzzle menu-icon"></i><span class="nav-text">Otel Lokasyonları</span>
                </a>
            </li>
            <li>
                <a href="/WorkLocation/Index/" aria-expanded="false">
                    <i class="icon-settings menu-icon"></i><span class="nav-text">Role</span>
                </a>
            </li>
            <li>
                <a href="/WorkLocation/Index/" aria-expanded="false">
                    <i class="icon-game-controller menu-icon"></i><span class="nav-text">Ayarlar</span>
                </a>
            </li>
            <li>
                <a href="/WorkLocation/Index/" aria-expanded="false">
                    <i class="icon-close menu-icon"></i><span class="nav-text">Çıkış Yap</span>
                </a>
            </li>
        </ul>
    </div>
</div>