
@model List<ResultServiceDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th> Hizmet İcon</th>
        <th>Hizmet Başlığı</th>
        <th>Hizmet Sil</th>
        <th>Hizmet Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.ServiceID</th>
            <td>@item.ServiceIcon</td>
            <td>@item.Title</td>

            <td><a href="/Service/DeleteService/@item.ServiceID" class="btn mb-1 btn-rounded btn-danger">Sil</a></td>
            <td><a href="/Service/UpdateService/@item.ServiceID" class="btn mb-1 btn-rounded btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Service/AddService" class="btn mb-1 btn-rounded btn-info">Yeni hizmet Girişi</a>

